# Ignore secrets folder
secrets/
# Ignore Python-specific files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/

# Ignore other build files
*.log
*.sql
*.sqlite

# Ignore VSCode specific files
.vscode/

# Ignore environment variables file
.env

# Ignore uploads
static/uploads/*
